.button {
    -fx-font-weight: bold;
}

#mazeGridpane > .button {
    -fx-background-radius: 0;
    -fx-border-style: solid;
    -fx-border-insets: 0;
    -fx-background-color: transparent;
}

#mazeGridpane > .visited {
    -fx-background-color: lightskyblue;
}

#mazeGridpane > #startingPoint {
    -fx-background-color: lightgreen;
}

#mazeGridpane > #endingPoint {
    -fx-background-color: salmon;
}
